{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <article>
            <h2 id="bookings-heading">Your Reservations</h2>
            <!-- Begin row -->
            <div class="row">
                <!-- Begin col -->
                <div class="column" id="bookings">
                    
                </div>
                <!-- End col -->

                <!-- Begin col -->
                <div class="column">
                    <div class="videowrap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9528.397702506601!2d-6.277698090709307!3d53.34147637663235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670f886b1dd297%3A0xf1b04af0735a4553!2sLittle%20Lemon!5e0!3m2!1sen!2sil!4v1716293508905!5m2!1sen!2sil" width="966" height="832" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                    </div>
                <!-- End col -->
                </div>
            </div>
            <!-- End row -->
        </article>
    </section>
    <script src="{% static 'js/fetch_bookings.js' %}" type="module"></script>
{% endblock %}
