{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <article>
        <h1>Make a reservation</h1>
        <!--Begin row-->
        <div class="row">
            <!--Begin col-->
            <div class="column">
                {% csrf_token %}
                <form method="POST" id="form">
                    <!-- {% csrf_token %} -->
                    <p>
                        <label for="first_name">Name:</label>
                        <input type="text" placeholder="Your Name" maxlength="200" required id="name">
                    </p>
                    <p>
                        <label for="email">Email:</label>
                        <input type="email" placeholder="Your Email" maxlength="200" required id="email">
                    </p>
                    <p>
                        <label for="number_of_guests">Number of guests:</label>
                        <input type="number" min="1" max="10" required id="number_of_guests">
                    </p>
                    <p>
                        <label for="reservation_date">Reservation date:</label>
                        <input type="date" id="reservation_date" required>
                    </p>
            
                    <p>
                        <label for="reservation_slot">Reservation time:</label>
                        <select id="reservation_slot">
                            <option value="0" disabled>Select time</option>
                        </select>
                    </p>
                    <button type="button" id="reserve-button">Reserve</button>
                </form>
            </div>
            <!--End col-->

            <!--Begin col-->
            <div class="column">
                <h2 id="booking-heading">Enter date to see availability<span id="date"></span></h2>
                <div id="bookings">
                </div>
            </div>
        <!--End col-->
        </div>
        <!--End row-->

    </article>
</section>
<script src="{% static 'js/fetch_bookings.js' %}"></script>
{% endblock %}

<!-- Path: C7M5L1%20Item%208/restaurant/templates/base.html -->