{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% for item in menu %}
    <p id="menu">
        <a href="">
            {{ item.name }}
        </a>
        <span class="menu-price">
            ${{ item.price }}
        </span>
    </p>
    {% endfor %}
</div>
<button class="" id="load-more">Load More</button>
<script src="{% static 'js/fetch_menu.js' %}"></script>
<!--End col-->
{% endblock %}